.card-list {
    width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 575px) {
    .card-list {
        grid-template-columns: 1fr 1fr;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .card-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}